# MongoDB Connection String (Local or MongoDB Atlas)
# Example for Local MongoDB: mongodb://localhost:27017/arambh
# Example for MongoDB Atlas: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/arambh?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/arambh?retryWrites=true&w=majority

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development

# Admin Dashboard Credentials
ADMIN_EMAIL=admin@arambh.org
ADMIN_PASSWORD=admin123
